.Gallery {
    width: 100%;
    max-width: 970px;
    display: flex;
    flex-direction: column;
    
    .sections {
        height: 50px;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        @include center;
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: bold;

        div {
            height: 100%;
            margin: 0 1.8rem;
            @include center;
            cursor: pointer;

            &:hover {
                margin-top: -2px;
                padding-top: 1px;
                color:rgba(0, 0, 0, 0.8) ;
                border-top: 1px solid rgba(0, 0, 0, 0.8);
            }

            span {
                margin-left: 3px;
            }
        }
    }

    .posts-container {
        width: 100%;
        height: fit-content;
        // @include center;
        // flex-flow: row wrap;
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 300px));
        grid-template-rows: repeat(auto, 300px);
        gap: 1.5rem;
        justify-content: center;

        .Post {
            width: 290px;
            height: 290px;
            margin: 0 auto;
            @include center;
            position: relative;
            flex: 0 1 auto;
            cursor: pointer;

            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                &:hover {
                    filter: brightness(60%);
                }
            }

            .info-post {
                padding: 10px;
                color: white;
                @include center;
                position: absolute;
                font-weight: bold;

                div {
                    margin: 0 5px;
                    @include center;

                    * {
                        margin: 0 5px;
                    }
                }
                // text-shadow: -2px 0 black, 2px 0px black, 0px -2px  black, 0px 2px black
            }
        }
    }
}